:root {
  scroll-behavior: smooth;
  --content-width: 90%;
}





div.mongopgpresent main.page div.theme-default-content{

      margin: 10px !important;
}
.search-box input{
  width:15rem !important;
}

header>.hero-info{
  text-align:center
}

iframe{
  width: 100%;
  height:750px;
}